<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    Pages
    <ul class="pagination">
        {{#size}}
        <li class="page-item"><a class="page-link" href="/documents?page={{.}}" >{{.}}</a></li>
        {{/size}}
    </ul>
</nav>

<form method="get" action="/documents/filter/date">
    <p> Please enter your criteria for filter</p>
    <input type="radio" name="filter" value="create" checked>Create Date
    <input type="radio" name="filter" value="end">End date
    <input type="date" name="criteria" placeholder="date of criteria" required>
    <button type="submit" >Search</button>
</form>
<form method="get" action="/documents/filter/text">
    <input type="radio" name="filter" value="author"checked>Author
    <input type="radio" name="filter" value="subject">Subject
    <input type="text" name="criteria" placeholder="name of criteria" required>
    <button type="submit" >Search</button>
    <button class="reset"><a href="/documents">Reset</a></button>

</form>


{{#documents}}
    <div class="wrapper">

        <div><b>document id:</b> {{id}}</div>
        <div><b>document name:</b> {{documentName}}</div>
        <div><b>document description:</b> {{description}}</div>
        <div><b>date of create document:</b> {{createDate}}</div>
        <div><b>date of end document:</b> {{endDate}}</div>
        <div><b>author of end document:</b> {{author}}</div>
        <div><b>subject of end document:</b> {{subject}}</div>
    </div>
{{/documents}}
<div class="error">
{{#error}}
    {{.}}
    {{/error}}
</div>
</body>
</html>